.profile {
	height: 325px;
	width: 325px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 5px solid ;
  }

.contactinfo {
	display: block;
	text-align: center;
	word-spacing: 15px;
}

.icon {
		transition: transform 200ms ease-in-out 200ms;
}

.icon:hover {
	border-radius: 50%;
	-webkit-transform : scale(1.2); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : scale(1.2); /* IE 9 */
    transform         : scale(1.2); /* Firefox 16+, IE 10+, Opera */
    position: relative;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}